	<ion-view view-title=" Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/mad_dating_app/bal" >
					<i class="icon ion-cash" ></i>
					<p>{{ "Баланс" | translate }}</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink"  ng-href="#/mad_dating_app/prem" >
					<i class="icon ion-fireball" ></i>
					<p>{{ "Премиум" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-bg ink"  ng-href="#/mad_dating_app/search" >
					<i class="icon ion-earth" ></i>
					<p>{{ "Поиск пары" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-900-bg ink"  ng-href="#/mad_dating_app/match" >
					<i class="icon ion-android-contacts" ></i>
					<p>{{ "Твои пары" | translate }}</p>
				</a>
				<a class="col-33 no-border light balanced-bg ink"  ng-href="#/mad_dating_app/poset" >
					<i class="icon ion-ios-eye" ></i>
					<p>{{ "Посетители" | translate }}</p>
				</a>
				<a class="col-33 no-border light balanced-900-bg ink"  ng-href="#/mad_dating_app/likes" >
					<i class="icon ion-ios-heart" ></i>
					<p>{{ "Лайки" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light energized-bg ink"  ng-href="#/mad_dating_app/liked" >
					<i class="icon ion-thumbsup" ></i>
					<p>{{ "Понравившиеся" | translate }}</p>
				</a>
				<a class="col-33 no-border light energized-900-bg ink"  ng-href="#/mad_dating_app/disliked" >
					<i class="icon ion-thumbsdown" ></i>
					<p>{{ "Не понравившиеся" | translate }}</p>
				</a>
				<a class="col-33 no-border light assertive-bg ink"  ng-href="#/mad_dating_app/settings" >
					<i class="icon ion-ios-settings-strong" ></i>
					<p>{{ "Настройки" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
